nav{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  display: flex;
  justify-content: center;
  z-index: 1;
  padding: 0 10px;
  a{
    margin: 0;
    color: #222;
    padding: 10px;
    position: relative;
    text-transform: capitalize;
    background: white;
    text-decoration: none;
    overflow: hidden;
    font-weight: 700;
    .nav-shadow{
      background: #222;
      position: absolute;
      color: white;
      z-index: 2;
      left: 0;
      opacity: 1;
      top: 0;
      padding: 10px;
    }
  }
}