nav{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  display: flex;
  justify-content: center;
  z-index: 99;
  padding: 0 10px;
  border-radius: 3px;
  a{
    cursor: pointer;
    color: #222;
    padding: 10px;
    position: relative;
    text-transform: capitalize;
    background: white;
    text-decoration: none;
    overflow: hidden;
    font-weight: 700;
    .nav-shadow{
      background: #222;
      position: absolute;
      color: white;
      opacity: 0;
      z-index: 2;
      left: 0;
      border-radius: 3px;
      will-change: transform;
      top: 0;
      padding: 10px;
    }
    &:first-of-type{
      .nav-shadow{
        opacity: 1;
      }
    }
  }
}