body,html{
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-y: overlay;
  color: #222;
  font-family: 'Montserrat';
  font-size: 1em;
  @include media('<phone'){
    font-size: 14px;
  }
}
@keyframes textShadow {
  0% {
    text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.2), -0.4389924193300864px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  5% {
    text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.2), -2.7928974010788217px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  10% {
    text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.2), -0.02956275843481219px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  15% {
    text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.2), -0.40218538552878136px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  20% {
    text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.2), -3.4794037899852017px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  25% {
    text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.2), -1.6125630401149584px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  30% {
    text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.2), -0.7015590085143956px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  35% {
    text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.2), -3.896914047650351px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  40% {
    text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.2), -3.870905614848819px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  45% {
    text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.2), -2.231056963361899px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  50% {
    text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.2), -0.08084290417898504px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  55% {
    text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.2), -2.3758461067427543px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  60% {
    text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.2), -2.202193051050636px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  65% {
    text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.2), -2.8638780614874975px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  70% {
    text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.2), -0.48874025155497314px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  75% {
    text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.2), -1.8948491305757957px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  80% {
    text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.2), -0.0833037308038857px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  85% {
    text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.2), -0.09769827255241735px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  90% {
    text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.2), -3.443339761481782px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  95% {
    text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.2), -2.1841838852799786px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
  100% {
    text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.2), -2.6208764473832513px 0 1px rgba(255,0,80,0.1), 0 0 3px;
  }
}
.crt {
  animation: textShadow 1.6s infinite;
}
@keyframes spin{
  0%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes glitch {
  0% {
    transform: translate(0)
  }
  20% {
    transform: translate(-2px, 2px)
  }
  40% {
    transform: translate(-2px, -2px)
  }
  60% {
    transform: translate(2px, 2px)
  }
  80% {
    transform: translate(2px, -2px)
  }
  to {
    transform: translate(0)
  }
}
.loader{
  position: relative;
  z-index: 99999;
  transition: .2s ease-out;
  &:before, &:after{
    content: '';
  }
  &:before{
    position: fixed;
    z-index: 9;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: white;
  }
  &:after{
    width: 64px;
    height: 64px;
    position: fixed;
    left: 50%;
    z-index: 10;
    top: 50%;
    transform: translate(-50%, -50%);
    border-top: 2px solid #222;
    border-radius: 50%;
    animation: spin 1s ease-in-out infinite;
  }
  &.loaded{
    opacity: 0;
    pointer-events: none;
  }
}
html.sr .load-hidden{
  visibility: hidden;
}
.app_container{
  position: relative;
}
section{
  height: 100vh;
  width: 100vw;
  position: relative;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  height: 100%;
  width: 100%;
}
.puzzle_container{
  display: flex;
  flex-direction: column;
}
.intro_btn_container{
  position: absolute;
  width: 50px;
  height: 50px;
  overflow: hidden;
  cursor: pointer;
  transform: translate(-50%);
  left: 50%;
  bottom: 50px;
  .intro_btn{
    background: transparent;
    width: 100%;
    pointer-events: none;
    position: absolute;
    box-sizing:border-box;
    height: 100%;
    border: 2px solid #222;
    perspective: 1000px;
    transition: .2s ease-in-out;
    will-change: transform;
    transform-origin: 100% 100%;
    &:last-of-type{
      background: black;
      transform-origin: 100% 100%;
      transform: translate(-100%, -100%);
      .line{
        background: white;
      }
    }
    .line{
      position: absolute;
      left: 10px;
      bottom: 10px;
      width: 50%;
      height: 2px;
      background: #222;
      &:last-of-type{
        left: initial;
        right: 12px;
        bottom: 10px;
        width: 2px;
        height: 50%;
      }
    }
  }
  &:hover{
    .intro_btn{
      transform: translate(100%, 100%);
      &:last-of-type{
        transform: translate(0%, 0%);
      }
    }
  }
}


#intro{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  .text_note{
    font-size: 1.5em;
    padding: 10px 15px;
    line-height: 1.33em;
    max-width: 900px;
    position: relative;
    text-align: center;
    color: #222;
    font-weight: 300;
  }
  #text_container{
    display: flex;
    height: 75px;
    position: relative;
    font-weight: 300;
    font-size: 3em;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin-bottom: 40px;
    .text_loader{
      position: absolute;
      bottom: .5rem;
      width: 0;
      left: 50%;
      transform: translateX(-50%);
      height: 1px;
      transition: 230ms width cubic-bezier(0.75, 0, 0, 1);
      background: #222222;
    }
    .letter_container{
      position: relative;
      margin: 0 5px;
      width: 50px;
      transform-origin: 0 25%;
      p{
        height: 100%;
        margin: 0;
        text-align: center;
        width: 50px;
        opacity: .5;
        position: absolute;
        //color: #404040;
        left: 25%;
        box-sizing:border-box;
        filter: blur(1px);
        //animation: swap .05s ease-out infinite alternate;
        &:first-of-type{
          transform: translate(-10px, 5px);
          z-index: 5;
          filter: blur(0px);
        }
        &:nth-of-type(2){
          transform: translate(-15px, 7.25px);
          z-index: 4;
        }
        &:nth-of-type(3){
          transform: translate(-15px, 7.25px);
          z-index: 3;
        }
        &:last-of-type{
          transform: translate(-17px, 9px);
          z-index: 2;
        }
        &.matched{
          //color: #404040;
          background: transparent;
          animation: none;
        }
      }
    }
  }
  @include media('<phone'){
    .text_note{
      //font-size: 1.5em;
    }
    #text_container{
      //font-size: 1.75em;
      .letter_container{
        &.break{
          width: 100%;
          height: 0;
          opacity: 0;
        }
        width: 20px;
        p{
          width: 20px;
        }
      }
    }
  }
}
h2{
  width: 100%;
  font-size: 2em;
  padding: 0 0 15px 10px;
  margin-bottom: 15px;
  font-weight: 700;
  color: #222;
  position: relative;
}
#projects{
  //background: linear-gradient(45deg, #13547a, #80d0c7);
  .container{
    display: flex;
    flex-direction: column;
    top: 10vh;
    position: relative;
    position: relative;
    max-height: 80vh;
    justify-content: space-around;
  }
  .project-wrapper{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    .project-container{
      padding: 10px;
      flex-basis: 33.3%;
      opacity: 1;
      box-sizing:border-box;
      transform: translateX(0) translateY(0);
      will-change: transform, opacity, width, height;
      .project-box{
        overflow: hidden;
        cursor: pointer;
        position: relative;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-color: #222;
        border-radius: 5px;
        height: 100%;
        border: 1px solid #ebebeb;
        .project-logo{
          position: absolute;
          max-height: 200px;
          left: 50%;
          top: 50%;
          fill: white;
          transform: translate(-50%, -50%);
        }
        .project-hover{
          position: absolute;
          width: 100%;
          z-index: 3;
          height: 100%;
          //border: 2px solid #222;
          //background: rgba(255,255,255,.5);
          box-sizing: border-box;
          opacity: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          transition: 250ms ease-out;
          h5{
            box-sizing: border-box;
            font-weight: 700;
            color: white;
            padding: 25px;
            transition: .2s ease-out;
            font-size: 1.75em;
            margin: 0;
            text-align:left;
            width: 100%;
          }
          .full-screen-btn{
            position: absolute;
            right: 25px;
            top: 16px;
            width: 36px;
            height: 32px;
            transition: .2s ease-out;
            flex-wrap: wrap;
            padding: 6px;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            &:hover{
              transform: scale(1.2);
            }
            span{
              height: 8px;
              width: 8px;
              box-sizing: border-box;
              transition: .2s ease-out;
              border: 2px solid #ebebeb;
              margin: 5px;
              position: relative;
              &:first-of-type{
                border-width: 2px 0 0 2px;
              }
              &:nth-of-type(2){
                border-width: 2px 2px 0 0;
              }
              &:nth-of-type(3){
                border-width: 0 0 2px 2px;
              }
              &:last-of-type{
                border-width: 0 2px 2px 0;
              }
            }
          }
        }
        .project-content{
          padding: 25px 75px 25px 25px;
          box-sizing: border-box;
          position: relative;
          height: 100%;
          opacity: 0;
          border-radius: 3px 0 0 3px;
          will-change: transform, opacity;
          transform: translateX(-100%);
          z-index: 2;
          background: rgba(255,255,255,1);
          //-webkit-clip-path: polygon(0% 0%, 100% 0, 75% 100%, 0% 100%);
          //clip-path: polygon(0% 0%, 100% 0, 75% 100%, 0% 100%);
          >*{
            margin: .75em 0;
            display: flex;
            flex-direction: column;
          }
          li{
            &:first-of-type{
              font-weight: 700;
              font-size: 1.75em;
              margin: 0;
            }
          }
          .date, .tech, .desc{
            line-height: 24px;
            &:before{
              opacity: .5;
              font-weight: 700;
              font-size: .85em;
            }
            &:first-of-type{
              margin-top: 0;
            }
          }
          .date{
            &:before{
              content: 'When: ';
            }
          }
          .tech{
            &:before{
              content: 'How: ';
            }
          }
          .desc{
            &:before{
              content: 'What: ';
            }
          }
          .btn{
            display: inline-block;
            a{
              padding: 10px 15px;
              transition: .2s ease-out;
              background: #222;
              border-radius: 3px;
              border: 1px solid #222;
              color: white;
              text-decoration: none;
            }
            &:hover{
              a{
                background: transparent;
                color: #222;
              }
            }
          }
        }
        .project-controls{
          position: absolute;
          z-index: 5;
          box-sizing: border-box;
          bottom: 18px;
          width:100%;
          display: flex;
          justify-content: space-between;
          padding: 15px 25px;
          transition: .2s ease-out;
          opacity: 0;
          pointer-events: none;
          right: 0;
          span{
            font-size: .85em;
            letter-spacing: .1em;
            color: #222;
            &:before, &:after{
              padding: 7px;
              border: 1px solid #222;
            }
            &:before{
              content: '\2190';
            }
            &.next{
              color: white;
              &:before{
                display: none;
              }
              &:after{
                content: '\2192';
                border-color: white;
              }
            }
          }
        }
        &:hover{
          //box-shadow: 0px 0px 15px -5px #bbbbbb;
          .project-hover{
            opacity: 1;
          }
        }
      }
      &.active{
        width: 100%;
        height: 100%;
        opacity: 1;
        z-index: 1;
        max-width: 100%;
        .project-hover{
          opacity: 1;
          pointer-events: none;
          h5,p{
            color: #222;
          }
          .full-screen-btn{
            pointer-events: all;
            span{
              transform: rotate(180deg);
            }
            &:hover{
              transform: scale(.8);
            }
          }
        }
        .project-content{
          opacity: 1;
        }
        .project-controls{
          opacity: 1;
          pointer-events: all;
        }
        .btn{
          p{
            transform: translate(20px, -50%) !important;
            &:before, &:after{
              content: '\2190' !important;
              right: -20px!important;
              position: absolute!important;
            }
            &:before{
              transform: translateX(0px) !important;
              opacity: 1!important;
              right: initial!important;
              left: -20px!important;
            }
            &:after{
              transform: translateX(10px) !important;
              opacity: 0!important;
            }
          }
          &:hover{
            p{
              transform: translate(0, -50%)!important;
              &:after{
                transform: translateX(0)!important;
                opacity: 1!important;
              }
              &:before{
                transform: translateX(-10px)!important;
                opacity: 0!important;
              }
            }
          }
        }
      }
      &:first-of-type{
        .project-controls{
          justify-content: flex-end;
        }
      }
    }
    &.initial{
      .project-container{
        position:relative!important;
        left: initial!important;
        top: initial!important;
        width: initial!important;
        height: initial!important;
      }
    }
    @include media('<tablet'){
      .project-container{
        flex-basis: 50%;
        padding: 0;
      }
    }
    @include media('<phone'){
      max-height: 90vh;
    }
  }
}
#contact{
  .container{
    display: flex;
    flex-direction: column;
    top: 10vh;
    position: relative;
    max-height: 80vh;
    justify-content: space-between;
    .contact-wrapper{
      display: flex;
      >article{
        flex-basis: 33.3%;
        padding: 10px 15px;
        img{
          max-width: 300px;
          border-radius: 50%;
          height: auto;
        }
        p{
          margin-top: 10px;

        }
        span{
          line-height: 1.25em;
          &:first-of-type{
            color: #bbbbbb;
            display: block;
            font-weight: 700;
            font-size: 1em;
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ebebeb;
          }
          a{
            text-decoration: none;
            color: #222;
            border-bottom: 1px dotted;
            transition: .2s ease-out;
            &:hover{
              border-bottom-style: solid;
            }
          }
        }
        &:first-of-type{
          span{
            border: none;
          }
        }
      }
    }
    .social-wrapper{
      display: flex;
      justify-content: center;
      a{
        position: relative;
        width: 32px;
        height: 32px;
        margin: 3px;
        transition: .2s ease-out;
        border-radius: 50%;
        &.github{
          background-image: url('../assets/img/github_icon.png');
        }
        &.linkedin{
          background-image: url('../assets/img/linkedin_icon.png');
        }
        &:before{
          content: attr(data-cta);
          position: absolute;
          top: -10px;
          left: 50%;
          transition: opacity .25s ease-out, transform .5s ease-in;
          width: max-content;
          transform: translate(-50%, -10px);
          padding: 10px;
          font-family: 'Montserrat';
          color: white;
          font-size: .85em;
          background: #222;
          opacity: 0;
          border-radius: 3px;
          pointer-events: none;
        }
        &:hover{
          &:before{
            transition: .25s cubic-bezier(0.19, 1, 0.22, 1);
            transform: translate(-50%, -30px);
            opacity: 1;
            pointer-events: all;
          }
        }
      }
    }
  }
}